.header{
  background-color: #fbbb00;
}

.header a{
  display: table-cell;
  text-decoration: none;
  padding-right: 10px;
  color: #fff;
}

.header a.a-text {
  position: relative;
  top: -5px;
  padding: 5px;
}

