<mat-card>
  <mat-card-title>Novo Veículo</mat-card-title>
  <form>
    <mat-form-field>
      <input matInput placeholder="Placa"
        [(ngModel)]="cars.placa" name="placa">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Chassi"
        [(ngModel)]="cars.chassi" name="chassi">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Renavam"
        [(ngModel)]="cars.renavam" name="renavam">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Modelo"
        [(ngModel)]="cars.modelo" name="modelo">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Marca"
        [(ngModel)]="cars.marca" name="marca">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Ano"
        [(ngModel)]="cars.ano" name="ano">
    </mat-form-field>
  </form>
</mat-card>

<button class="button" mat-raised-button (click)="createCar()" color="primary">
  Salvar
</button>

<button class="button" mat-raised-button (click)="cancel()" color="primary">
  Cancelar
</button>
