<mat-card>
  <mat-card-title>Excluir Veículo</mat-card-title>
  <form>
    <mat-form-field>
      <input matInput placeholder="Placa"
        [value]="cars.placa" name="placa" disabled>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Chassi"
        [value]="cars.chassi" name="chassi" disabled>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Renavam"
        [value]="cars.renavam" name="renavam" disabled>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Modelo"
        [value]="cars.modelo" name="modelo" disabled>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Marca"
        [value]="cars.marca" name="marca" disabled>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Ano"
        [value]="cars.ano" name="ano" disabled>
     </mat-form-field>
  </form>
</mat-card>

<button class="buttonDelete" mat-raised-button (click)="deleteCar()" color="primary">
  Deletar
</button>

<button class="buttonCancel" mat-raised-button (click)="cancel()" color="primary">
  Cancelar
</button>

